[submodule "backend"]
	path = backend
	url = https://github.com/MazenOth/apartment-listing-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/MazenOth/apartment-listing-frontend.git
